<%= render 'filter_nav' %>

<ul>
  <% tasks.each do |task| %>
    <li>
      <span><%= task.title %></span>
      <b><%= task.status_label %></b>
      <%= link_to 'Edit', edit_task_path(task.id) %>
    </li>
  <% end %>
</ul>

<%= link_to 'New', new_task_path %>
